
@model IEnumerable<WebUI.ViewModels.TestViewModel>
@{
    ViewBag.Title = "TestEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Moderator room</h1>
<table class="table" id ="deletedTest">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsValid)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTest", new { id = item.Id }) |
                @Ajax.ActionLink("Delete", "DeleteTest", new { id = item.Id }, new AjaxOptions { Confirm = "Do you want delete '" + item.Name + "'?", UpdateTargetId = "deletedTest" })
            </td>
        </tr>
    }

</table>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")





