@using WebUI.Helpers
@model WebUI.ViewModels.HomeViewModel

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tests.GetEnumerator().Current.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tests.GetEnumerator().Current.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tests.GetEnumerator().Current.Time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Tests)
    {
        if(item.IsValid)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Passing", new {id = item.Id})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
            </tr>
        }
    }

</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Home", new { page = x }))
</div>