@model WebUI.ViewModels.TestViewModel
@{
    ViewBag.Title = "Passing test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Passing Test</h2>
@using (Html.BeginForm("Passing", "Test", FormMethod.Post,
    new { @class = "form-horizontal", role = "form", align = "center" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="form-group">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time, new { @class = "col-md-2 control-label" })
        <div class="form-group">
            @Html.DisplayText("Passing time: ")
            @Html.DisplayFor(m => m.Time)
        </div>
    </div>
    for (int i = 0; i < Model.Questions.Count; i++)
    {
        <div class="form-group">
            <div class="form-group">
                @Html.DisplayFor(m => m.Questions[i].Value)
                Enter answer:
            </div>
            </div>
                <div class="form-group">
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Answers[i].Value)
                        @Html.ValidationMessageFor(m => m.Answers[i], null, new { @class = "text-danger" })
                    </div>

                </div>
    }
    <div class="form-group">
            <input type="submit" class="btn btn-default" value="Complete" />
    </div>
}

