
@model IEnumerable<WebUI.ViewModels.StatisticsViewModel>
@{
    ViewBag.Title = "Statistics";
}

<div id="results">
    <div>
        <h3>Search:</h3>
        @using (Ajax.BeginForm("Statistics", new {page = 1}, new AjaxOptions {UpdateTargetId = "results"}))
        {
            <input type="text" name="name"/>
            <input type="submit" value="Поиск"/>
        }
    </div>
    <h2>Statistics</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodAnswers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadAnswers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodAnswers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BadAnswers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
            </tr>
        }

    </table>
</div>
@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")